@import './vars';

* {
	scroll-behavior: smooth;
}

#app {
  font-family: "Lato", sans-serif;
  background: $light-grey;
}

.container {
	position:relative;
	z-index:2;
	box-sizing:border-box;
	width:96%;
	max-width:$wide;
	padding:0 2%;
	margin:0 auto;
}

.content {
	color:$blue-grey;

	p {
		margin-bottom:20px;
		line-height:1.5em;
		letter-spacing:.01em;
	}
}

.section {
	display:flex;
	padding:100px 0;

	@media screen and (max-width: 900px) {
		display:block;
	}

	.title-col {
		width:25%;
		box-sizing:border-box;
		padding-right:100px;
		overflow:hidden;

		h3 {
			font-size:1.8em;
			font-weight:600;
			text-transform:uppercase;
			margin:0 6px 0 2px;
			color:$blue-grey;
			letter-spacing:.04em;
		}

		hr {
			width:60px;
			height:4px;
			margin:15px 0 0 -5px;
			border:none;
			background:$blue-grey;
			-webkit-transform: perspective(20px) rotateX(40deg);
		    -moz-transform: perspective(20px) rotateX(40deg);
		    -ms-transform: perspective(20px) rotateX(40deg);
		    -o-transform: perspective(20px) rotateX(40deg);
		    transform: perspective(20px) rotateX(-40deg);
		}

		.inverse & {
			color:white;
		}

		@media screen and (max-width: 900px) {
			width:100%;

			hr {
				margin-bottom:30px;
			}
		}
	}
	.content-col {
		width:75%;

		@media screen and (max-width: 900px) {
			width:100%;
		}
	}
}

.inverse {
	background: rgba(0,63,171,1);
	background: -moz-linear-gradient(top, rgba(0,63,171,1) 0%, rgba(0,63,171,1) 16%, rgba(84,175,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,63,171,1)), color-stop(16%, rgba(0,63,171,1)), color-stop(100%, rgba(84,175,255,1)));
	background: -webkit-linear-gradient(top, rgba(0,63,171,1) 0%, rgba(0,63,171,1) 16%, rgba(84,175,255,1) 100%);
	background: -o-linear-gradient(top, rgba(0,63,171,1) 0%, rgba(0,63,171,1) 16%, rgba(84,175,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,63,171,1) 0%, rgba(0,63,171,1) 16%, rgba(84,175,255,1) 100%);
	background: linear-gradient(to bottom, rgba(0,63,171,1) 0%, rgba(0,63,171,1) 16%, rgba(84,175,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003fab', endColorstr='#54afff', GradientType=0 );

	.title-col, .content-col {
		h3, li, p {
			color:white;
		}

		hr {
			background:white;
		}
	}
}









