@import '../modules/vars';

.footer {
	border-top:solid 1px #8297ba;
	background: white;

	footer {
		position:relative;
		width:100%;
		max-width:$wide;
		line-height:70px;
		margin:0 auto -50px;
		padding: 5px 0;

		strong {
			color: #62728c;
			text-transform: uppercase;
			font-weight:500;

			span {
				font-weight:300;
			}
		}
	}
}